<!-- 가맹점의 최종승인 후 결제  -->

<!--
	@u4bi
	아래 리포지토리 내 스크립트에서 최소한의 변경작업만 진행하였습니다.
	https://github.com/PAYPLECORP/manual/blob/master/sample/order.html

	- indent 수정
	- ejs 템플릿 구문으로 변경

-->

<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />
		<title>Insert title here</title>


		<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
		<script src="./vendor/cpay.payple.1.0.0.js"></script> <!-- DEV -->

		<script>
			$(document).ready( function () {

				$('#payAction').on('click', function (event) {

					PaypleCpayAuthCheck();

					event.preventDefault();

				});
				
			});
		</script>
	</head>
	<body>
		<table border="1" cellspacing="0" cellpadding="1">
			<tr>
				<td>구매자 이름</td>
				<td><%= buyer_name%></td>
			</tr>
			<tr>
				<td>구매자 휴대폰번호</td>
				<td><%= buyer_hp%></td>
			</tr>
			<tr>
				<td>구매자 Email</td>
				<td><%= buyer_email%></td>
			</tr>
			<tr>
				<td>구매상품</td>
				<td><%= buy_goods%></td>
			</tr>	  
			<tr>
				<td>결제금액</td>
				<td><%= buy_total%></td>
			</tr>
			<tr>
				<td>주문번호</td>
				<td><%= order_num%></td>
			</tr>
			<tr>
				<td>정기결제</td>
				<td><%= is_reguler%></td>
			</tr>
			<tr>
				<td>정기결제 구분년도</td>
				<td><%= pay_year%></td>
			</tr>
			<tr>
				<td>정기결제 구분월</td>
				<td><%= pay_month%></td>
			</tr>
			<tr>
				<td>현금영수증</td>
				<td><%= is_taxsave%></td>
			</tr>
			<tr>
				<td colspan="2" align="center">
					<button id="payAction">결제하기</button>
				</td>
			</tr>
		</table>
		

		<form id="CpayForm" name="CpayForm" action="" method="post">
		<input type="hidden" name="PCD_CST_ID" 			id="PCD_CST_ID">									<!-- 가맹점 ID -->
		<input type="hidden" name="PCD_CUST_KEY" 		id="PCD_CUST_KEY">									<!-- 가맹점 고유키 -->
		<input type="hidden" name="PCD_AUTH_KEY" 		id="PCD_AUTH_KEY">									<!-- 결제용 인증키 -->
		<input type="hidden" name="PCD_PAY_REQKEY"		id="PCD_PAY_REQKEY">								<!-- 결제요청 고유KEY (결제요청 완료시 RETURN) -->
		<input type="hidden" name="PCD_PAY_COFURL"		id="PCD_PAY_COFURL">								<!-- 결제승인요청 URL -->
		<input type="hidden" name="PCD_PAY_TYPE" 		id="PCD_PAY_TYPE" 		value="transfer">			<!-- 결제 방식 (transfer | card) -->
		<input type="hidden" name="PCD_PAY_WORK"		id="PCD_PAY_WORK"		value="CERT">				<!-- 결제요청 업무구분 (CERT: 결제정보인증등록, PAY: 결제승인요청 ) -->
		<input type="hidden" name="PCD_PAYER_ID"		id="PCD_PAYER_ID">									<!-- 결제자 고유ID (결제요청 완료시 RETURN) -->
		<input type="hidden" name="PCD_PAYER_NO"		id="PCD_PAYER_NO"		value="<%= buyer_no%>">	    <!-- 결제자 고유번호 -->
		<input type="hidden" name="PCD_PAYER_NAME" 		id="PCD_PAYER_NAME" 	value="<%= buyer_name%>">   <!-- 결제자 명 -->
		<input type="hidden" name="PCD_PAYER_HP" 		id="PCD_PAYER_HP" 		value="<%= buyer_hp%>">     <!-- 결제자 휴대폰 번호 -->
		<input type="hidden" name="PCD_PAYER_EMAIL" 	id="PCD_PAYER_EMAIL" 	value="<%= buyer_email%>">  <!-- 결제자 Email -->
		<input type="hidden" name="PCD_PAY_GOODS" 		id="PCD_PAY_GOODS" 		value="<%= buy_goods%>">	<!-- 결제 상품 -->
		<input type="hidden" name="PCD_PAY_YEAR"		id="PCD_PAY_YEAR"		value="<%= pay_year%>">		<!-- 결제구분 년도 -->
		<input type="hidden" name="PCD_PAY_MONTH"		id="PCD_PAY_MONTH"		value="<%= pay_month%>">	<!-- 결제구분 월 -->
		<input type="hidden" name="PCD_PAY_TOTAL" 		id="PCD_PAY_TOTAL" 		value="<%= buy_total%>">	<!-- 결제 금액 -->
		<input type="hidden" name="PCD_PAY_OID" 		id="PCD_PAY_OID" 		value="<%= order_num%>">	<!-- 주문번호 -->
		<input type="hidden" name="PCD_TAXSAVE_FLAG" 	id="PCD_TAXSAVE_FLAG" 	value="<%= is_taxsave%>">   <!-- 현금영수증 발행 -->
		<input type="hidden" name="PCD_REGULER_FLAG" 	id="PCD_REGULER_FLAG" 	value="<%= is_reguler%>"> 	<!-- 정기결제 -->
		<input type="hidden" name="PCD_PAY_BANK" 		id="PCD_PAY_BANK">									<!-- 결제은행 -->
		<input type="hidden" name="PCD_PAY_BANKNUM" 	id="PCD_PAY_BANKNUM">								<!-- 결제계좌번호 -->
		<input type="hidden" name="PCD_PAY_TIME" 		id="PCD_PAY_TIME">									<!-- 결제시간 -->	
		<input type="hidden" name="PCD_RST_URL" 		id="PCD_RST_URL" 		value="/order_result.html"> <!-- 결제내용 RETUN URL -->
		<input type="hidden" name="PCD_PAY_RST" 		id="PCD_PAY_RST">									<!-- 결제성공 여부 (Y|N) -->
		<input type="hidden" name="PCD_PAY_MSG" 		id="PCD_PAY_MSG">									<!-- 결제결과 메세지 -->
		<input type="hidden" name="PCD_TAXSAVE_RST"	    id="PCD_TAXSAVE_RST">								<!-- 현금영수증 발행 결과 -->
		<input type="hidden" name="REMOTE_IP" 			id="REMOTE_IP">										<!-- 결제자 접속 IP -->
		</form>

		<div id="layer_cpay" name="layer_cpay" style="position:absolute;z-index:100;display:none;width:$(window).width();height:$(window).height();top:0;left:0;margin-top:0px;margin-left:0px;">
			<iframe id="cpay_ifr" name="cpay_ifr" style="width:450px; height:100%; position:absolute; z-index:200; background:white;" frameborder="0" scrolling="auto"></iframe>
		</div>
	</body>
</html>